<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Em's Photography</title>
      <link href="https://fonts.googleapis.com/css?family=Courgette|Lobster|Playfair+Display+SC" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../static/shower.css">
    <script type="text/javascript">
    $(document).ready(function(){
      $(".imgSmall").click(function(){
        var image = $(this).attr('src')
        $(".imgBig").attr('src', image)
        $(".overlay").show();
        $(".overlayContent").show();


      });

      $(".imgBig").click(function(){
        $(".overlay").hide();
        $(".overlayContent").hide();
      });

    });
    </script>

    <script type="text/javascript">

    function myFunction(x) {
      x.classList.toggle("change");
    }

    </script>
    <script type="text/javascript">
    function myFunction(x) {
      x.classList.toggle("change");
    }
    </script>
    <script type="text/javascript">
    $(document).ready(function(){
      $('.container').click(
        function () {
          var off=document.getElementById('nav-bar');
            if (off.style.display == "none") {
                off.style.display = "block";
                off.style.position = 'absolute';
                off.style.background = 'rgba(0, 0, 0, 0.8)';
                off.style.height = '100%';
                off.style.width = '100%';
                off.style.zIndex = '105';
                off.style.textAlign = 'center';
                off.style.paddingTop = '7%';
                off.style.position = 'fixed';
                off.style.animation = 'fadein 1s';
                off.style.webkitAnimation = 'fadein 1s';
            } else {
                off.style.display = "none";
            }
        }
      )

      $('.work a').hover(
        function () {
        $(this).css({
          'font-size': '3.1em',
          transition: 'all .3s'
        })
      },
      function () {
        $(this).css({
          color: 'white',
          'font-size': '2.6em'
        })

      }

      )

    });
    </script>
  </head>
  <body>
    <div id="wrapper">

      <div class="list-bar">

        <div class="container" onclick="myFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>

      </div>

      <div id="nav-bar" style="display:none">
        <div class="work">
          <a href="/">Home</a>
          <a href="/wedding">Weddings</a>
          <a href="/landscape">Landscapes</a>
          <a href="/family">Family</a>
          <a href="/gopro">GoPro</a>
          <a href="/personal">Portraits</a>
          <a href="/about">About</a>
        </div>
      </div>

      <div class="header">
        <div class="pictures">
          <h2>Showers</h2>
          {% for picture in pictures %}
          <img class="imgSmall" src="{{picture.picture.url}}" alt="" />


          {% endfor %}
          <div class="overlay"></div>
          <div class="overlayContent">
            <img class="imgBig"  src="" alt="" height="600"/>
          </div>
        </div>

      </div>

  </div>

  </body>
</html>
