@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Poppins');

@media screen and (max-width: 1260px) {
  .picture img {
    display: none;
  }


}

*{
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  background: -webkit-linear-gradient(90deg,#383836 10%,#4a4a4a 90%);
  background: linear-gradient(90deg,#383836 10%,#4a4a4a 90%);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header {
  padding-bottom: 100px;
  z-index: -1;
}

.header h3 {
  font-family: 'Open Sans', sans-serif;
  border-bottom: 2px solid white;
  font-weight: 300;
  font-size: 3em;
  color: white;
  text-align: left;
  padding-top: 50px;
  padding-left: 18%;
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 200px;
  width: 600px;
  color: white;
  font-size: 1.5em;
  text-align: justify;
  /*margin-left: 50%;*/
  padding-top: 100px;
  padding-left: 5%;
}
.picture {
  position: absolute;
  right: 0;
  max-width: 500px;
  margin-right: 100px;


}
.picture img{
  max-width: 100%;
  height: auto;
  width: auto\9;
  margin-top: -380px;
  margin-right: 100px;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.nav-bar {
  background-color:rgba(0, 0, 0, 0.8);
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
  z-index: 100;
  position: absolute;
  text-align: center;
  padding-top: 150px;
}

.work {
  padding-top: 15px;
  display: inline-block;
  padding-left: 20px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;

}
@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

.work a{
  font-size: 2.6em;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.list-bar {
  background-color:rgba(0, 0, 0, 0.5);
  width: 100%;
  position: relative;
  z-index: 1000;
}
.container {
  position: fixed;
  display: inline-block;
  cursor: pointer;
  left: 0;
  margin-left: 30px;
  margin-top: 30px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
    background-color: #fff;

}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
    background-color: #fff;
}
.contact{
  display: inline-block;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-size: 1em;
  color: white;
  padding-top: 200px;
  padding-left: 190px;
  text-align: center;
}
.contact a {
  color: white;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;

}

.contact h4 {
  padding-bottom: 10px;
}

.icons {
  margin-top: 10px;
}

#no-line {
  border-right: 2px solid white;
}
